* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;

}




.menu {

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 290px;
    height: 290px;


    .toggle {
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        background: pink;
        border-radius: 50%;

        font-size: 3em;
        cursor: pointer;
        transition: 0.3s;



    }

    .active {
        transform: rotate(315deg);
        box-shadow: 0 0 0 140px pink,
            0 0 0 68px rgb(251, 0, 151);
        background-color: rgb(237, 168, 185);

    }


    li {
        position: absolute;
        left: -25px;
        list-style: none;
        transform: rotate(calc(360deg / var(--c) * var(--i)));

        transform-origin: 177px;

        visibility: hidden;
        opacity: 0;
        transition: 0.1s;
        z-index: 10;

        font-size: 1em;

    }






}


.menu.active li {
    visibility: visible;
    opacity: 1;

}

.menu li button {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 34px;
    font-size: 0.9em;

    transform: rotate(calc(360deg / calc(-1*var(--c)) * var(--i)));


}


li.active1 {
    padding: 1px;
    transition: 0.9s;
   
}

